.cost-form__content {
  display: grid;
  justify-items: left;
  align-items: center;
  height: 100%;
  margin-top: 19px;
}

.cost-info {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 40px 40px;
}

.cost-info__message {
  color: #9dc265;
  line-height: 1.5;
  font-size: 20px;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
