body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #2a3744;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #282828;
}

.header-content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}

.header-right {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 20px;
}

.header__heading {
  color: #82b541;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

.button-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
}

.button-links__link--order {
  background-color: #82b541;
  padding: 5px 20px;
  color: white;
  border-radius: 4px;
  font-weight: 500;
}

.button-links__link--sign-in {
  border: 1px solid #82b541;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  font-weight: 500;
}

.button-links__link--order:hover,
.button-links__link--sign-in:hover {
  opacity: 0.8;
  color: white;
}

.search {
  padding: 0;
  width: 300px;
}

.main {
  margin-top: 80px;
  background: #f2f5f6;
  text-align: center;
}

.section--about-us {
  padding: 30px 0;
}

.section__promo {
  margin: auto;
  max-width: 80%;
}

.section__promo__heading {
  text-transform: uppercase;
  color: #9b9b9b;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.section__promo__title {
  font-size: 30px;
  line-height: 1.4;
  padding: 10px 0 30px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-list__item {
  display: grid;
  grid-gap: 10px;
  max-width: 300px;
  padding: 75px 15px 0 15px;
  margin: 30px 0 20px 0;
  text-align: center;
}

.feature-list__item.feature--time {
  background-image: url("./img/time.png");
  background-size: 65px 65px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.feature-list__item.feature--safety {
  background-image: url("./img/star.png");
  background-size: 65px 65px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.feature-list__item.feature--quality {
  background-image: url("./img/people.png");
  background-size: 85px 65px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.feature-list__name {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #82b541;
}

.feature-list__item p {
  margin: 0;
  font-size: 18px;
  color: #1b1b1e;
}

.catalogue {
  background-color: #303030;
}

.catalogue__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  padding: 40px 0;
}

.catalogue__card {
  width: 300px;
  margin-bottom: 20px;
  min-height: 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: white;
  border: solid 1px #303030;
  border-radius: 4px;
  text-align: left;
}

.catalogue__card__image {
  width: 100%;
  height: 150px;
}

.catalogue__card__content {
  padding: 10px;
}

.catalogue__card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #444444;
}

.catalogue__card-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 10px;
  color: #969696;
}

.footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #191919;
  font-size: 18px;
  color: #999999;
}

.footer__contact,
.footer__join {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.footer__contact__element,
.footer__join__element {
  padding: 0 0 0 10px;
}

.footer__contact--tel {
  color: #82b541;
}

.footer__contact--tel:hover {
  color: #82b541;
  text-decoration: underline;
}

.footer__social {
  width: 36px;
  height: 36px;
  display: block;
}

.footer__social--fb {
  background: url(./img/fb.svg) no-repeat;
}

.footer__social--tw {
  background: url(./img/twt.svg) no-repeat;
}

.footer__social--gg {
  background: url(./img/gg.svg) no-repeat;
}

@media (max-width: 768px) {
  .header__heading {
    display: none;
  }

  .header-content {
    justify-content: center;
  }

  .search {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 110px;
  }

  .main {
    margin-top: 110px;
  }

  .header-right {
    grid-auto-flow: row;
    justify-items: center;
  }

  .search {
    width: 200px;
  }

  .footer {
    justify-content: space-evenly;
  }
  .footer__contact__element:first-child,
  .footer__join__element:first-child {
    display: none;
  }
}

.sign-in-container {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.sign-in {
  background: white;
  border: 1px solid #e1e8ed;
  text-align: center;
  padding: 40px;
  max-width: 520px;
}

.sign-in__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #444444;
}

.sign-in__sign-up-info {
  font-size: 13px;
  color: #7d7d7d;
}

.sign-in__form {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  border: none;
  margin-top: 30px;
}

.sign-in__fieldset {
  position: relative;
  text-align: left;
  width: 100%;
}

.sign-in__button {
  margin-top: 20px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  white-space: nowrap;
  width: 320px;
  height: 45px;
  background-color: #81b536;
  box-shadow: 0 2px 0 0 #709a3c;
  border-radius: 4px;
  font-size: 16px;
  color: white;
}

.sign-in__button:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .sign-in {
    width: 100%;
    height: 100%;
    align-content: center;
  }
}

.field-errors {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  color: #ea6f3e;
  text-align: left;
}

.companies-list__container {
  background: #fefefe;
  padding: 20px;
  text-align: left;
}

.companies-list__title {
  color: #3a3a3a;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1em;
}

.companies-list__description {
  color: #a6a6a6;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.companies-list__navigation {
  margin-bottom: 25px;
  background-color: #f2f2f2;
  color: #4a4a4a;
  padding: 20px 25px;
  min-height: 67px;
}

.catalogue--companies {
  background: #fefefe;
}

.company__card {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 200px;
  margin-bottom: 20px;
  min-height: 200px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: white;
  border: solid 1px #303030;
  border-radius: 4px;
  text-align: left;
}

.company__card__image {
  width: 100%;
  height: 100px;
  padding: 10px;
  background:  #81b536;
}

.company__card__content {
  padding: 10px;
}

.company__card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #444444;
}

.company__card-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #969696;
}

.company__card__order-link {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  margin: 5px;
}
