body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #2a3744;
}

* {
  box-sizing: border-box;
}

.link:focus {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #282828;
  z-index: 1000;
}

.header__content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  justify-content: space-around;
  padding: 5px 20px;
}

.header__heading {
  color: #82b541;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

.search {
  max-width: 400px;
}

.header__left {
  display: grid;
  grid-gap: 5px;
}

.header__right {
  display: grid;
  grid-gap: 5px;
  justify-content: end;
}

.button-links__link--order {
  background-color: #82b541;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.button-links__link--sign-in {
  border: 1px solid #82b541;
  padding: 5px;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.button-links__link--order:hover,
.button-links__link--sign-in:hover {
  opacity: 0.8;
  color: white;
}

.main {
  margin-top: 80px;
  background: #f2f5f6;
}

.section--about-us {
  padding: 30px 0;
}

.section__promo {
  text-align: center;
  margin: auto;
  max-width: 80%;
}

.section__promo__heading {
  text-transform: uppercase;
  color: #9b9b9b;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.section__promo__title {
  font-size: 30px;
  line-height: 1.4;
  padding: 10px 0 30px 0;
}

.features-list {
  display: grid;
  justify-content: space-around;
  justify-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-list__item {
  display: grid;
  grid-gap: 10px;
  max-width: 300px;
  padding: 75px 15px 0 15px;
  margin: 30px 0 20px 0;
  text-align: center;
}

.feature-list__item.feature--time {
  background-image: url("./img/time.png");
  background-size: 65px 65px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.feature-list__item.feature--safety {
  background-image: url("./img/star.png");
  background-size: 65px 65px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.feature-list__item.feature--quality {
  background-image: url("./img/people.png");
  background-size: 85px 65px;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.feature-list__name {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #82b541;
}

.feature-list__item p {
  margin: 0;
  font-size: 18px;
  color: #1b1b1e;
}

.catalogue {
  background-color: #303030;
}

.catalogue__cards {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 20px;
  padding: 20px 0;
}

.catalogue__card {
  width: 300px;
  min-height: 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: white;
  border: solid 1px #303030;
  border-radius: 4px;
  text-align: left;
}

.catalogue__card__image {
  width: 100%;
  height: 150px;
}

.catalogue__card__content {
  padding: 10px;
}

.catalogue__card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #444444;
}

.catalogue__card-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 10px;
  color: #969696;
}

.footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #191919;
  font-size: 18px;
  color: #999999;
}

.footer__contact,
.footer__join {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.footer__contact__element,
.footer__join__element {
  padding: 0 0 0 10px;
}

.footer__contact--tel {
  color: #82b541;
}

.footer__contact--tel:hover {
  color: #82b541;
  text-decoration: underline;
}

.footer__social {
  width: 36px;
  height: 36px;
  display: block;
}

.footer__social--fb {
  background: url(./img/fb.svg) no-repeat;
}

.footer__social--tw {
  background: url(./img/twt.svg) no-repeat;
}

.footer__social--gg {
  background: url(./img/gg.svg) no-repeat;
}

@media (min-width: 650px) {
  .catalogue__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .features-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__content {
    margin-top: 8px;
  }
  .header__heading {
    font-size: 45px;
    line-height: 40px;
  }
  .search {
    padding-top: 8px;
  }
  .header__left {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  .header__right {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 10px;
  }
}

@media (min-width: 1248px) {
  .catalogue__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.sign-in-container {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.sign-in {
  background: white;
  border: 1px solid #e1e8ed;
  text-align: center;
  padding: 40px;
  max-width: 520px;
}

.sign-in__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #444444;
}

.sign-in__sign-up-info {
  font-size: 13px;
  color: #7d7d7d;
}

.sign-in__form {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  border: none;
  margin-top: 30px;
}

.sign-in__fieldset {
  position: relative;
  text-align: left;
  width: 100%;
}

.sign-in__button {
  margin-top: 20px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  white-space: nowrap;
  width: 320px;
  height: 45px;
  background-color: #81b536;
  box-shadow: 0 2px 0 0 #709a3c;
  border-radius: 4px;
  font-size: 16px;
  color: white;
}

.sign-in__button:hover {
  opacity: 0.8;
}

.field-errors {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 14px;
  color: #ea6f3e;
  text-align: left;
}

.companies-list__container {
  background: #fefefe;
  padding: 20px 40px;
}

.companies-list__title {
  color: #3a3a3a;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1em;
}

.companies-list__description {
  color: #a6a6a6;
  font-size: 18px;
  padding-top: 10px;
}

.companies-list__navigation {
  background-color: #f2f2f2;
  color: #4a4a4a;
  padding: 20px 25px;
  min-height: 67px;
}

.catalogue--companies {
  background: #fefefe;
}

.company__card {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 300px;
  margin-bottom: 20px;
  min-height: 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fefefe;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  text-align: left;
}

.company__card__image {
  width: 100%;
  height: 150px;
  padding: 20px;
  background: #f2f2f2;
  border-bottom: 1px solid #e1e8ed;
}

.company__card__content {
  padding: 10px;
}

.company__card__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #81b536;
}

.company__card__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #969696;
}

.company__card__order-link {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  margin: 5px;
}

.sign-up__content {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.sign-up-container {
  width: 100%;
}

.sign-up {
  background: white;
  border: 1px solid #e1e8ed;
  text-align: left;
  padding: 10px 40px;
}

.sign-up__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #444444;
}

@media (min-width: 768px) {
  .sign-up-container {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .sign-up-container {
    width: 50%;
  }
}

.company-info__container {
  display: grid;
  margin: 0 auto;
  padding: 10px;
}

.company-info__heading {
  margin: 0;
}

.company-info__rating-and-orders {
  font-size: 20px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.company-info__orders {
  color: #666;
  font-weight: 500;
  margin-left: 10px;
}

.company-info__card-container {
  background-color: #fafafa;
  color: #666666;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #e1e8ed;
}

.company-info__card {
  min-height: 200px;
  padding: 12px;
}

.company-info__logo {
  width: 100%;
  height: 150px;
  padding: 20px;
  background: #f2f2f2;
  border-bottom: 1px solid #e1e8ed;
}

.company-info__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 10px;
}

.company-info__button--feedback,
.company-info__button--order {
  background-color: #81b536;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.company-info__description {
  font-size: 18px;
  margin-bottom: 0;
}

.company-info__services-list__title {
  font-size: 24px;
  margin-bottom: 0;
}

.company-info__services-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.company-info__services-list__item {
  font-weight: 500;
  font-size: 18px;
}

.company-info__cost__form {
  color: #666666;
  border: 1px solid #81b536;
  border-radius: 4px;
  margin-top: 10px;
}

.cost__form {
  display: grid;
  grid-gap: 20px;
  border: none;
  padding: 5px;
}

.cost-form__label {
  font-size: 24px;
  font-weight: 500;
}

.cost-form__button {
  border: none;
  cursor: pointer;
  height: 35px;
  background-color: #81b536;
  box-shadow: 0 2px 0 0 #709a3c;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  white-space: nowrap;
}

.cost-form__button:hover {
  opacity: 0.8;
}

@media (min-width: 1240px) {
  .company-info__container {
    width: 80%;
  }
}

@media (min-width: 1480px) {
  .company-info__container {
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
  }
}

.user-profile__container {
  padding: 5px;
}

.user-profile__header {
  padding: 10px 10px 2px 10px;
  border-bottom: 1px solid #e9e9e9;
}

.user-profile__name,
.user-profile__email,
.user-profile__phone,
.user-profile__address {
  margin-bottom: 0;
  font-size: 20px;
}

.user-profile__name {
  text-transform: uppercase;
}

.user-profile__nav {
  margin: 10px 0;
  display: grid;
  grid-auto-flow: column;
}

.user-profile__nav-button {
  padding: 6px 12px;
  color: #222;
  font-size: 18px;
  padding: 5px 8px;
}

.user-profile__nav-button:focus {
  color: #fff;
  background: #E35734;
  border-radius: 3px;
}

.active.user-profile__nav-button--settings {
  background: url('./img/cog-solid.svg');
  background-size: 100%;
}
